<div class="wrapper">
  <div class="user-details">
    <div class="user-photo-show">
      <%= cl_image_tag @user_show.photo, width: 150, height: 150, crop: :thumb, gravity: :face, class: "avatar"%>
    </div>
    <div class="number-friendships-reviews">
      <div class="number-reviews">
        <h4><%= @user_show.ratings.count %></h4>
        <p>reviews</p>
      </div>
      <div class="number-friendships">
        <%= link_to user_friendship_path(current_user) do %>
          <h4><%= @user_show.friendships.count %></h4>
        <%end %>
        <p>friends</p>
      </div>
    </div>
    <div class="edit-profile-show">
      <h4>Edit profile</h4>
    </div>
  </div>

  <div class="user-show-icons">
    <div class="line-show"></div>
    <div class="quick-facts">
      <div class="reviews-all-user">
        <i class="fas fa-star"></i>
      </div>
      <div class="wishlist">
        <i class="fas fa-heart"></i>
      </div>
      <div class="top-5">
        <i class="fas fa-list-ol"></i>
      </div>
      <div class="Freundschaftsanfragen">
        <i class="fas fa-users"></i>
      </div>
    </div>
    <div class="line-show"></div>
  </div>
  <div class="user-reviews">
    <% @user_show.ratings.each do |rating| %>
      <%= link_to restaurant_path(rating.restaurant) do %>
        <div class="user-review-show">
          <div class="image-user-show">
            <% unless rating.photo.blank? %>
              <%= cl_image_tag rating.first.photo %>
            <% else %>
              <%= image_tag("munich.jpg")%>
            <% end %>
          </div>
          <div class="image-user-show-facts">
            <div class="name-city-user">
              <h4><%= rating.restaurant.name %></h4>
              <p><%= rating.restaurant.city %></p>
            </div>
            <div class="stars-user">
              <p><%= rating.stars %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="top-5-user">
    <p>1. He</p>
    <p>2. he</p>
  </div>
  <div class="wishlist-user">
    <p>1. He</p>
    <p>2. he</p>
  </div>
  <div class="Freundschaftsanfragen-list">
    <p>Freundschaftsanfragen</p>
    <div class="display-friends">
      <% if @friends.nil? %>
        <div style="margin-top:15px;margin-bottom:15px">
          <div class="line"></div>
        </div>
      <% else %>
        <% @friends.each do |friend| %>
          <div style="margin-top:15px;margin-bottom:15px">
            <div class="line"></div>
          </div>
          <div class="users-info">
            <div class="profile-photo">
              <%= cl_image_tag friend.photo, width: 140, height: 140, crop: :thumb, gravity: :face, class:"avatar" %>
            </div>
            <div class="name">
              <%= friend.first_name %>
              <%= friend.last_name %>
            </div>
            <%@friendship_this = friend.friendships.where(friend_id: current_user) %>
            <div class="follow-button1" >
              <%= link_to "Bestätigen", user_friendship_path(friend, @friendship_this), method: :patch%>
            </div>
          </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'user-show-hide' %>
<%= javascript_pack_tag 'follow_button' %>
