<div class="wrapper">
  <div class="user-details">
    <div class="user-photo-show">
      <%= cl_image_tag @user_show.photo, crop: :thumb, gravity: :face%>
    </div>
    <div class="user-data-show">
      <h4><%= @user_show.ratings.count %> reviews</h4>
      <h4><%= @user_show.friendships.count %> friends</h4>
    </div>
  </div>
  <div class="user-show-icons">
    <div class="line-show"></div>
    <div class="quick-facts">
      <div class="reviews-all-user">
<i class="fas fa-star"></i>
      </div>
      <div class="wishlist">
        <i class="fas fa-heart"></i>
      </div>
      <div class="top-5">
        <i class="fas fa-list-ol"></i>
      </div>
    </div>
    <div class="line-show"></div>
  </div>
  <div class="user-reviews">
    <% @user_show.ratings.each do |rating| %>
      <div class="user-review-show">
        <div class="image-user-show">
          <% unless rating.photo.blank? %>
            <%= cl_image_tag rating.first.photo %>
          <% else %>
            <%= image_tag("munich.jpg")%>
          <% end %>
        </div>
        <div class="image-user-show-facts">
          <div class="name-city-user">
            <h4><%= rating.restaurant.name %></h4>
            <p><%= rating.restaurant.city %></p>
          </div>
          <div class="stars-user">
            <p><%= rating.stars %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="top-5-user">
    <p>1. He</p>
    <p>2. he</p>
  </div>
  <div class="wishlist-user">
    <p>1. He</p>
    <p>2. he</p>
  </div>
</div>

<%= javascript_pack_tag 'user-show-hide' %>
