<div class="wrapper">
  <ul class="steps">
    <li class="is-active">Step 1</li>
    <li>Step 2</li>
  </ul>

  <div class="form-wrapper">
    <div class="section is-active">
    <%= simple_form_for @restaurant do |f| %>
    <% if @restaurant.errors.any? %>
      <div class="errors-container">
        <ul>
          <% @restaurant.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>


      <%= f.input :name, input_html: {class: 'form-control'}  %>
      <%= f.input :address%>
      <%= f.input :zipcode %>
      <%= f.input :country %>
      <%= f.input :city %>
      <%= f.submit class: 'submit-button'%>
  </div>
  <% end %>

  <div class="rating-form section">
    <%= simple_form_for @rating do |f| %>
    <% if @rating.errors.any? %>
      <div class="errors-container">
        <ul>
          <% @rating.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <%= f.input :header %>
      <%= f.input :description %>
      <%= f.input :atmosphere %>
      <%= f.input :stars %>
      <%= f.file_field :photos, multiple:true %>
      <%= f.submit class: 'submit-button'%>
  </div>
    <% end %>
  </div>
</div>
