<div class="wrapper">
  <div class="friends-header">
    <h4>Friends</h4>
  </div>
  <% @friends_bestätigt.each do |friend| %>
    <div class="all-friends-show">
      <div class="friend-photo-user-details">
        <div class="friends-user-photo">
          <%= cl_image_tag friend.photo, width: 150, height: 150, crop: :thumb, gravity: :face, class: "avatar"%>
        </div>
        <div class="friends-user-details">
          <h4><%= friend.first_name %> <%= friend.last_name %></h4>
          <p> <%= friend.ratings.count %> reviews </p>
        </div>
      </div>
      <div class="unfollow-button">
        <%= link_to "Unfriend", root_path, method: :post%>
      </div>
    </div>
  <% end %>
</div>
