<div class="wrapper">

  <div class="search-home">
    <%= form_tag restaurants_path, method: :get do %>
      <%= text_field_tag :city,
      params[:city],
      class:"form-control",
      placeholder: "Search for city or friend"
      %>
      <%= button_tag :submit do %>
        <i class="fas fa-search"></i>
      <% end %>
    <% end %>
  </div>

  <div class="header-home">
    <h1>Have you been there?</h1>
  </div>
  <!-- <div class="row"> -->
    <div class="cities-photos">
      <div class="city1">
        <%= link_to image_tag('Vienna.jpg', class:"intro-image"), restaurants_path()
       %>
        <div class="citytext1">
          <h1>Vienna</h1>
        </div>
      </div>
      <div class="city1">
        <%= link_to image_tag('Zurich.jpg', class:"intro-image"), restaurants_path %>
        <div class="citytext1">
          <h1>Zurich</h1>
        </div>
      </div>
      <div class="city1">
        <%= link_to image_tag('Auckland.jpg', class:"intro-image"), restaurants_path %>
        <div class="citytext1">
          <h1>Auckland</h1>
        </div>
      </div>
      <div class="city1">
        <%= link_to image_tag('munich.jpg', class:"intro-image"), restaurants_path %>
        <div class="citytext1">
          <h1>Munich</h1>
        </div>
      </div>
      <div class="city1">
        <%= link_to image_tag('Vancouver.jpg', class:"intro-image"), restaurants_path %>
        <div class="citytext1">
          <h1>Vancouver</h1>
        </div>
      </div>
      <div class="city1">
        <%= link_to image_tag('Dusseldorf.jpg', class:"intro-image"), restaurants_path %>
        <div class="citytext1">
          <h1>Dusseldorf</h1>
        </div>
      </div>
      <div class="city1">
        <%= link_to image_tag('Frankfurt.jpg', class:"intro-image"), restaurants_path %>
        <div class="citytext1">
          <h1>Frankfurt</h1>
        </div>
      </div>
      <div class="city1">
        <%= link_to image_tag('Geneva.jpg', class:"intro-image"), restaurants_path %>
        <div class="citytext1">
          <h1>Geneva</h1>
        </div>
      </div>
      <div class="city1">
        <%= link_to image_tag('Kopenhagen.jpg', class:"intro-image"), restaurants_path %>
        <div class="citytext1">
          <h1>Copenhagen</h1>
        </div>
      </div>
      <div class="city1">
        <%= link_to image_tag('Basel.jpg', class:"intro-image"), restaurants_path %>
        <div class="citytext1">
          <h1>Basel</h1>
        </div>
      </div>
      <div class="city1">
        <%= link_to image_tag('sydney.jpg', class:"intro-image"), restaurants_path %>
        <div class="citytext1">
          <h1>Sydney</h1>
        </div>
      </div>
      <div class="city1">
        <%= link_to image_tag('Amsterdam.jpg', class:"intro-image"), restaurants_path %>
        <div class="citytext1">
          <h1>Amsterdam</h1>
        </div>
      </div>
    </div>
  <!-- </div> -->




  <div class="header-home">
    <h1>Latest reviews</h1>
  </div>
  <div class="slideshow-container">
   <% if Rating.all.count < 3 %>
     <h1>There are no ratings yet</h1>
   <% else %>
    <% Rating.all.order('created_at DESC').take(3).each do |r| %>
      <%= link_to restaurant_path(r.restaurant) do %>
        <div class="mySlides1">
          <% if r.photo.blank?  %>
              <%= image_tag("munich.jpg") %>
            <% else %>
              <%= cl_image_tag r.photo %>
          <% end %>
          <div class="rating-description">
            <h4>"<%= r.header %>"</h4>
            <p>- <%= r.user.first_name %> <%= r.user.last_name %></p>
          </div>
    <!--         <div class="rating-photo">
                <p>- <%= r.user.first_name %> <%= r.user.last_name %></p>
            </div> -->
            <div class="rating-star">
              <i class="fas fa-star"></i> <%= r.stars.to_f %>
            </div>

            <div class="rating-rname-rcity">
              <p><%= r.restaurant.name%></p>
              <p><%= r.restaurant.city %></p>
            </div>
        </div>
        <% end %>
      <% end %>
    <% end %>
      <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
      <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
  </div>
</div>



<%= javascript_pack_tag 'imageslider' %>
<%= javascript_pack_tag 'search' %>
