<div class="wrapper">
  <div class="search-home">
    <%= form_tag restaurants_path, method: :get do %>
      <%= text_field_tag :city,
      params[:city],
      class:"form-control",
      placeholder: "Search for city or friend"
      %>
      <%= button_tag :submit do %>
        <i class="fas fa-search"></i>
      <% end %>
    <% end %>
  </div>

  <div class="restaurant">
    <%= form_tag restaurants_path do %>
      <%= text_field_tag :email %>
      <%= submit_tag %>
    <% end %>
  </div>
  <div class="header-home">
    <h1>Most popular cities</h1>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="city1">
        <%= link_to image_tag('munich.jpg', class:"intro-image"), restaurants_path %>
        <div class="citytext1">
          <h1>Munich</h1>
        </div>
      </div>
      <div class="city1">
        <%= link_to image_tag('sydney.jpg', class:"intro-image"), restaurants_path %>
        <div class="citytext1">
          <h1>Sydney</h1>
        </div>
      </div>
      <div class="city1">
        <%= link_to image_tag('barcelona.png', class:"intro-image"), restaurants_path %>
        <div class="citytext1">
          <h1>Barcelona</h1>
        </div>
      </div>
    </div>
  </div>




  <div class="header-home">
    <h1>Latest reviews</h1>
  </div>
  <div class="slideshow-container">
    <div class="mySlides1">
      <%= link_to image_tag('munich.jpg', class:"intro-image"), restaurants_path %>
      <div class="city1">
        <h1>Munich</h1>
      </div>
    </div>

    <div class="mySlides1">
      <%= link_to image_tag('sydney.jpg', class:"intro-image"), restaurants_path %>
      <div class="city1">
        <h1>Sydney</h1>
      </div>
    </div>

    <div class="mySlides1">
      <%= link_to image_tag('barcelona.png', class:"intro-image"), restaurants_path %>
      <div class="city1">
        <h1>Barcelona</h1>
      </div>
    </div>
    <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
    <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
  </div>
</div>


<%= javascript_pack_tag 'imageslider' %>
<%= javascript_pack_tag 'search' %>
