<div class='wrapper'>
  <div class="tab-slider--nav">
    <ul class="tab-slider--tabs">
      <li class="tab-slider--trigger active" rel="tab1">List</li>
      <li class="tab-slider--trigger" rel="tab2">Map</li>
    </ul>
  </div>

  <div class="tab-slider--container">
    <div id="tab1" class="tab-slider--body">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div id="restaurants">
            <% @restaurants.each do |restaurant| %>
              <%= link_to restaurant_path(restaurant) do %>
                <div class="restaurant-flex">
                  <div class="image-index">
                    <% unless restaurant.ratings.first.photo.blank? %>
                      <%= cl_image_tag restaurant.ratings.first.photo %>
                    <% else %>
                      <%= image_tag("munich.jpg") %>
                    <% end %>
                  </div>
                  <div class="text-index">
                    <div class="center-index-text">
                      <h4><%= restaurant.name %></h4>
                      <p><%= restaurant.city %></p>
                    </div>
                    <div class="stars-index">
                      <p><i class="fas fa-star"></i> <%= restaurant.ratings.first.stars.to_f %></p>
                    </div>
                    <div class="avatar-index">
                      <% if restaurant.users.count > 1 %>
                        <%= cl_image_tag restaurant.users.first.photo, width: 140, height: 140, crop: :thumb, gravity: :face, class:"avatar"   %>
                        <div class="plus-number">
                          <p>+<%= restaurant.users.count - 1 %></p>
                        </div>
                      <% else %>
                        <%= cl_image_tag restaurant.users.first.photo, width: 140, height: 140, crop: :thumb, gravity: :face, class:"avatar"   %>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>



    <div id="tab2" class="tab-slider--body">
      <div
        id="map"
        style="width: 100%;
        height: 600px;"
        data-markers="<%= @markers.to_json %>"
      ></div>
    </div>
  </div>
</div>
<!--  -->
