<div class='wrapper'>
  <div class="tab-slider--nav">
    <ul class="tab-slider--tabs">
      <li class="tab-slider--trigger active" rel="tab1">List</li>
      <li class="tab-slider--trigger" rel="tab2">Map</li>
    </ul>
  </div>

  <div class="tab-slider--container">
    <div id="tab1" class="tab-slider--body">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div id="restaurants">

        <!-- all restaurants that have more than one review -->
            <% if @restaurants_mit == [] %>
            <% else %>
              <% @restaurants_mit.each do |array| %>
                <%= link_to restaurant_path(array.second) do %>
                  <div class="restaurant-flex">
                    <div class="image-index">
                      <% unless array.second.first.ratings.first.photo.blank? %>
                        <%= cl_image_tag array.second.first.ratings.first.photo %>
                      <% else %>
                        <%= image_tag("munich.jpg") %>
                      <% end %>
                      <div class="wishlist-index">
                        <%= link_to restaurant_favorites_path(array.second), method: :post, remote: true do %>
                          <i class="fas fa-heart <%= array.second.first.liked?(current_user) ? "like" : "dislike"  %>" id='favorite-restaurant-<%= array.second.first.id %>'></i>
                        <% end %>
                      </div>
                    </div>
                    <div class="text-index">
                      <div class="center-index-text">
                        <h4><%= array.second.first.name %></h4>
                        <p><%= array.second.first.city %></p>
                      </div>
                      <div class="stars-index">
                        <p><i class="fas fa-star"></i> <%= @average %></p>
                      </div>
                      <div class="avatar-index">
                        <%= cl_image_tag array.second.first.users.first.photo, width: 140, height: 140, crop: :thumb, gravity: :face, class:"avatar"   %>
                        <div class="plus-number">
                          <% all = [] %>
                          <% array.second.each do |user| %>
                            <% all << user.name %>
                          <% end %>
                          <p>+<%= all.count - 1 %></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="line"></div>
                <% end %>
              <% end %>
            <% end %>


            <!-- all restaurants that have only one rating  -->

            <% @restaurants_ohne.each do |restaurant| %>
              <%= link_to restaurant_path(restaurant) do %>
                <div class="restaurant-flex">
                  <div class="image-index">
                    <% unless restaurant.ratings.first.photo.blank? %>
                      <%= cl_image_tag restaurant.ratings.first.photo %>
                    <% else %>
                      <%= image_tag("munich.jpg") %>
                    <% end %>
                    <div class="wishlist-index">
                      <%= link_to restaurant_favorites_path(restaurant), method: :post, remote: true do %>
                        <i class="fas fa-heart <%= restaurant.liked?(current_user) ? "like" : "dislike"  %>" id='favorite-restaurant-<%= restaurant.id %>'></i>
                      <% end %>
                    </div>
                  </div>
                  <div class="text-index">
                    <div class="center-index-text">
                      <h4><%= restaurant.name %></h4>
                      <p><%= restaurant.city %></p>
                    </div>
                    <div class="stars-index">
                      <p><i class="fas fa-star"></i> <%= @average %></p>
                    </div>
                    <div class="avatar-index">
                      <% if restaurant.users.count > 1 %>
                        <%= cl_image_tag restaurant.users.first.photo, width: 140, height: 140, crop: :thumb, gravity: :face, class:"avatar"   %>
                        <div class="plus-number">
                          <p>+<%= restaurant.users.count - 1 %></p>
                        </div>
                      <% else %>
                        <%= cl_image_tag restaurant.users.first.photo, width: 140, height: 140, crop: :thumb, gravity: :face, class:"avatar"   %>
                      <% end %>

                    </div>
                  </div>
                </div>
                <div class="line"></div>
              <% end %>
            <% end %>

          </div>
        </div>
      </div>
    </div>



    <div id="tab2" class="tab-slider--body">
      <div
        id="map"
        style="width: 100%;
        height: 600px;"
        data-markers="<%= @markers.to_json %>"
      ></div>
    </div>
  </div>
</div>
<!--  -->
