

<div class="wrapper-show">
  <div class="row-show">
    <div class="restaurant-description">

      <div class="image-show">
        <% unless @restaurant_show.first.ratings.first.photo.blank? %>
          <%= cl_image_tag @restaurant_show.first.ratings.first.photo %>
        <% else %>
          <%= image_tag("munich.jpg") %>
        <% end %>
      </div>
      <div class='zeile1'>
        <div class="text-show-name-under12">
          <p><%= @restaurant_show.first.name %></p>
        </div>
        <div class='zeile2'>
          <div class="zeile2-stars">
            <p><i class="fas fa-star"></i> <%= @average %></p>
          </div>
          <div class="zeile2-zahl">
            (<%= @restaurants_new.length %>)
          </div>
        </div>
      </div>
      <div class="text-show">
        <div class="Ort">
          <div class="marker">
            <%=  link_to "", ('https://www.google.com/maps/dir/?api=1&destination='+@restaurant_show.first.address), { :class=>"fas fa-map-marker-alt" }%>
          </div>
          <div class="text">
            <p> <%= @restaurant_show.first.address%>, <%= @restaurant_show.first.zipcode %> <%= @restaurant_show.first.city %></p>
          </div>
        </div>

        <div class="Telefon">
          <div class="marker">
            <p><i class="fas fa-phone"></i></p>
          </div>
          <div class="text">
            <div id='phone'></div>
          </div>
        </div>

        <div class="Website">
          <div class="marker">
            <p><i class="fas fa-file"></i></p>
          </div>
          <div class="text">
            <div id='website'> <%= link_to 'website'%></div>
          </div>
        </div>

        <div class="Öffnungszeiten">
          <div class="marker">
            <p><i class="fas fa-hourglass-start"></i></p>
          </div>
          <div class="text">
            <div id='opening-hours'></div>
          </div>
        </div>

        <div class="phone-number">
         <div id="placeid" style="display: none"><%=@restaurant_show.first.place_id %></div>
         <div id='phone'></div>
         <div id= "website"> </div>
         <div id= 'opening-hours'></div>
        </div>

      </div>
    </div>
  </div>
  <div class="line-show"></div>

</div>
<div class="wrapper-show-rating">
  <!-- <h2 class="review-header">Reviews</h2> -->
  <h2>Reviews</h2>
  <% @restaurant_show.each do |restaurant| %>
    <% if @friend_ids.include?(restaurant.user_ids[0]) == true %>
      <% restaurant.ratings.each do |r| %>
        <div class="reviews-show">
          <div class="reviews-avatar-info">
            <div class="reviews-avatar">
              <%= link_to user_path do %>
                <%= cl_image_tag r.user.photo, width: 140, height: 140, crop: :thumb, gravity: :face, class:"avatar-reviews"   %>
              <% end %>
            </div>
            <div class="reviews-info">
              <div class="reviews-info-name">
                <%= r.user.first_name %> <%= r.user.last_name  %>
              </div>
              <div class="reviews-info-date">
                <%= r.created_at.strftime("%b %Y") %>
              </div>
            </div>
          </div>
    <!--       <div class="reviews-stars">
            <%= r.stars %>
          </div> -->

          <div class="review-stars">
            <p><i class="fas fa-star"></i> <%= restaurant.ratings.first.stars.to_f %></p>
          </div>
        </div>
        <div class="reviews-description">
          <%= r.description %>
        </div>
  <!--     <div class="line-reviews">
      </div> -->
      <% end %>
    <% end %>
  <% end %>
</div>

