<div class="wrapper">
  <div class="row">
    <div class="card col-xs-6 col-md-7 restaurant-description">
      <div class="image-show">
        <% unless @restaurant_show.ratings.first.photo.blank? %>
          <%= cl_image_tag @restaurant_show.ratings.first.photo %>
        <% else %>
          <%= image_tag("munich.jpg") %>
        <% end %>
      </div>
      <div class="text-show">
        <h4><%= @restaurant_show.name %></h4>
        <p><%= @restaurant_show.city %></p>
        <p><i class="fas fa-star"></i> <%= @restaurant_show.ratings.first.stars.to_f %></p>
      </div>
    </div>
  </div>
  <div class="line">
  </div>
  <h2 class="review-header">Reviews</h2>
  <% @restaurant_show.ratings.each do |r| %>
    <div class="reviews-show">
      <div class="reviews-avatar-info">
        <div class="reviews-avatar">
          <%= cl_image_tag r.user.photo_url, width: 140, height: 140, crop: :thumb, gravity: :face, class:"avatar-reviews"   %>
        </div>
        <div class="reviews-info">
          <div class="reviews-info-name">
            <%= r.user.first_name %> <%= r.user.last_name  %>
          </div>
          <div class="reviews-info-date">
            <%= r.created_at.strftime("%b %Y") %>
          </div>
        </div>
      </div>
<!--       <div class="reviews-stars">
        <%= r.stars %>
      </div> -->
      <div class="review-stars">
        <%= select_tag "stars", options_for_select((0..5).to_a, r.stars), class: "review-stars-select" %>
      </div>
    </div>
    <div class="reviews-description">
      <%= r.description %>
    </div>
    <div class="line-reviews">
    </div>
  <% end %>
</div>

